* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* 导航区 开始 */
#nav>dl {
    overflow: hidden;
}

#nav>dl>dt {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.482);
    font-size: 23px;
    font-weight: 600;
    color: white;
}

#nav>dl>dd {
    width: 300px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10px;
    float: left;
}

#nav>dl>dd>a {
    overflow: hidden;
}

#nav>dl>dd:hover {
    background-color: #000;
    transition: 1s;
}

#nav>dl>dd:hover a>span>p {
    color: rgba(255, 255, 255, 0.7);
}

#nav>dl>dd:hover a>span>h3 {
    border-bottom: 2px solid aqua;
    color: rgb(255, 255, 255);
}


#nav>dl>dd>a>img {
    height: 60px;
    padding: 5px;
    float: left;
    max-width: 100px;
    overflow: hidden;
}

#nav>dl>dd>a>span>h3 {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #000;
}


#nav>dl>dd>a>span>p {
    /* 1. 设置盒子模型为弹性盒子模型 */
    display: -webkit-box;
    /* 2. 控制容器内容部分垂直显示 */
    -webkit-box-orient: vertical;
    /* 3. 控制显示的行数 */
    -webkit-line-clamp: 2;
    /* 4. 溢出的部分隐藏 */
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
}


/* 导航区 结束 */

/* 视频区 开始 */

#video>dl {
    width: 100%;
    border: 2px solid #000;
    margin-bottom: 20px;
}

#video>dl>dt {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.422);
    color: white;
    font-size: 25px;
    padding-left: 15px;
}

#video>dl>dt::before {
    content: "上传时间：";
}

#video>dl>dd {
    width: 98%;
    margin: auto;
    position: relative;
    padding-bottom: 46%;
}

#video>dl>dd>iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 视频区 结束 */



/* 语录区 开始 */
#text>ul>li {
    list-style: none;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3.5px dotted rgb(169, 255, 147);
    background-color: rgba(0, 0, 0, 0.489);
}

#top {
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    animation: change 10s infinite;
}

#bottom {
    text-align: right;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    animation: change 10s infinite;
}

#bottom::before {
    content: "——";
}



@keyframes change {
    0% {
        color: #4FFA04;
    }

    25% {
        color: #D6AA42;
    }

    50% {
        color: #ED5A55;
    }

    75% {
        color: #8d67ff;
    }

    100% {
        color: #1EFAEC;
    }
}

/* 语录区 结束 */



/* 照片 开始 */


/* GIF 开始 */
#GIF>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#GIF>ul>li {
    list-style: none;
    margin-bottom: 10px;
    width: 300px;
    height: 230px;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 5px;
}

#GIF>ul>li>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#GIF>ul>li>a>p {
    height: 30px;
    text-align: center;
    color: #000;
    font-size: 20px;
}

/* GIF 结束 */

/* 照片 结束 */

/* 壁纸 开始 */
#bi-zhi>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#bi-zhi>ul>li {
    list-style: none;
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 5px;
}

#bi-zhi>ul>li>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* 壁纸 结束 */


/* 壁纸-图片 开始 */
#bizhi-img>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#bizhi-img>ul>li {
    list-style: none;
    margin-bottom: 10px;
    width: 300px;
    height: 230px;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 5px;
}

#bizhi-img>ul>li>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#bizhi-img>ul>li>a>p {
    height: 30px;
    text-align: center;
    color: #000;
    font-size: 20px;
}

/* 壁纸-图片 结束 */


/* 壁纸-视频 开始 */

#bizhi-video>dl {
    width: 100%;
    margin-bottom: 20px;
}

#bizhi-video>dl>dt {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.422);
    color: white;
    font-size: 25px;
    padding-left: 15px;
}

#bizhi-video>dl>dt::before {
    content: "名称：";
}

#bizhi-video>dl>dd {
    width: 100%;
    margin: auto;
    position: relative;
    top: 5px;
    padding-bottom: 46%;
}

#bizhi-video>dl>dd>video {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    position: absolute;
    object-fit: cover;
}

/* 壁纸-视频 结束 */