/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}


/* 设置背景图片 */
@media screen and (max-width: 750px) {
    #zhu_ti {
        width: 300px;
    }

    #right_nav {
        height: auto;
    }

    #right_nav>ul>li {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    #right_nav>ul>li>a {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    #right_nav>ul>li>a>img {
        width: 40px;
    }
}


/* 设置主体大小,并让其居中 */
.zhu_ti {
    width: 600px;
    height: 420px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* 左边显示区域 */
.left_ziyuan {
    width: 300px;
    height: 420px;
    background-color: blueviolet;
}

/* 设置图像 */
.left_ziyuan>img {
    vertical-align: bottom;
    width: 220px;
    height: 220px;
    border: 10px solid #b96fff;
    border-radius: 50%;
    margin: 40px;
}

/* 设置文字 */
.left_ziyuan>h1,
.left_ziyuan>p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* 右边联系部分 */
.right_nav {
    width: 300px;
    right: 420px;
}

/* 让li左浮动 */
.right_nav>ul>li {
    list-style: none;
    float: left;
    width: 150px;
    height: 150px;
}

/* 设置a的大小 */
.right_nav>ul>li>a {
    display: block;
    float: right;
    width: 120px;
    height: 120px;
    background-color: #b96fff;
    text-decoration: none;
    text-align: center;
}

/* 设置a里面的样式 */
.right_nav>ul>li>a>img {
    width: 80px;
    margin-top: 10px;
}

.right_nav>ul>li>a>p {
    color: white;
}

/* 鼠标滑动 */
.right_nav>ul>li:hover a {
    background-color: rgb(200, 141, 255);
}